/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

/* Estilos del encabezado */
header {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos de la navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

/* Estilos de contenido principal y secciones */
main, section {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 8px;
}

/* Estilos de formularios y botones */
textarea, input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

/* Estilos de visualización y patrones */
.visualizacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.visualizacion .texto, .visualizacion .patron {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
}

.visualizacion .texto span, .visualizacion .patron span {
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1.2rem;
}

.visualizacion .texto span:hover, .visualizacion .patron span:hover {
    transform: scale(1.1);
}

/* Estilos del pie de página */
footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

footer h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer a:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

#algoritmo iframe {
    display: block;
    margin: 0 auto;
}
